*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
/*General*/
.container{
  display: inline-block;
  max-height: 100vh;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
  border-radius: 12px;
}

.center{
  align-self: center;
}

.black{
  color: black;
}

.list-hover:hover{
  background-color: lightgray;
  cursor: pointer;
}

.list-item{
  margin-top: 1rem;
}

.error-message{
  background-color: #f7a7a3;
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
}

.success-message{
  background-color:#a8f0c6;
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
}

/*Header CSS*/
.navbar-container{
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.gymbo{
  margin-right: 1rem;
  font-family: 'Trispace', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  border: solid 1px black;
  border-radius: 50%;
  padding: 0.5rem;
  text-decoration: none;
}

.equipment-button{
  margin-top: 1rem;
  margin-left: 1rem;
}

/*Manage CSS*/
.page-container{
  margin: 1rem;
}

.date-picker{
  width: 100%;
  height: 2.5rem;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
}

.start-date, .end-date{
  display: flex;
  justify-content: space-between;
}

.button-container{
  text-align: center;
}

/*Manage SASS*/
@mixin profile ($name, $bgColor) {
  $accentColor: darken($bgColor, 50);
  .#{$name}{
    background-color: #{$bgColor};
    border-left: 5px solid $accentColor;
  }
}
@include profile(simple-joinee, #ebebeb);
@include profile(new-joinee, #a8f0c6);
@include profile(ending-joinee, #ffd48a);
@include profile(done-joinee, #f7a7a3);

/*Joinee CSS*/
.joinee-container{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.joinee-link{
  text-decoration: none;
}
.name-container{
  margin-right: 1rem;
}

/*Profile CSS*/
.profile-container{
  padding: 1rem;
  text-align: center;
}

.profile-top{
  display: flex;
  justify-content: space-between;
}

.profile-buttons{
  margin: 0.25rem;
}

#profile-name{
  width: 50%;
}
